body{
    font-family: 'Courier New', Courier, monospace;
    background: rgb(97, 105, 215);
    color: rgb(5, 10, 112);
    font-size: 0.875rem;
}
main{
    min-height:100vh;
    display: grid;
    place-items: center;
}
#count{
    font-size:6rem;
    font-weight: bold;
}
.container{
    text-align: center;
}
.btn{
    transform:uppercase;text-transform:uppercase;
    color:rgb(29, 12, 156);
    font-weight: bold;
    letter-spacing:0.1rem;
    
}